body {
    display: grid;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
  }

nav {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3; 
    height: 50px;
    background-color:#3289bf;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: black;
}

h1{
    grid-row-start: 1;
    grid-row-end: 2;
}
