<%- include('partials/header') %>
<title>404 AIRLINES</title>
</head>
<body>
  
  <a href="/flights/new" class='new'>ADD FLIGHT</a>
  <a href="/flights" class='index'>ALL FLIGHTS</a>
  <nav class ='navone'>
    <img src ='/images/airplane.png' id ='airplane'>
  </nav>
  
    
    <div class ='title'>404 AIRLINES</div> 

<main>
<%- include('partials/footer') %>