<%- include('partials/header') %>
<title>404 AIRLINES</title>
</head>
<body>
  

  <nav>
    <a href="/flights/new" class = 'top' >ADD FLIGHT</a>
    <a href="/flights"class = 'top' >ALL FLIGHTS</a>
  </nav>
  
  <div class ='title'>404 AIRLINES</div> 
  <!-- <img src ='/images/airplane.png' id ='airplane'> -->
<main>
<%- include('partials/footer') %>